apiVersion: v1
kind: Secret
metadata:
  name: nexus-creds
  namespace: cicd
type: Opaque
data:
  NUGET_API_KEY: Q0hBTkdFX01F
  NUGET_PUBLISHER_USER_NAME: Q0hBTkdFX01F
  NUGET_PUBLISHER_USER_PASS: Q0hBTkdFX01F
