{
  "status": "active",
  "userId": "nexus-cnap-admin",
  "firstName": "nexus-cnap-admin",
  "lastName": "nexus-cnap-admin",
  "emailAddress": "nexus-cnap-admin@kmd.dk",
  "password": "nexus3-cnap-admin-password",
  "roles": [
    "nx-admin"
  ]
}