kind: RoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: testkube-pipelines-permissions-tests
  namespace: testkube
subjects:
  - kind: ServiceAccount
    name: pipeline
    namespace: cicd
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: test-cluster-role-testkube
