apiVersion: v1
kind: Secret
metadata:
  name: gradle.properties
  namespace: cicd
type: Opaque
data:
  NEXUS_REPO_USER: bmV4dXMtY25hcC1hZG1pbgo=
  NEXUS_REPO_PASSWORD: bmV4dXMzLWNuYXAtYWRtaW4tcGFzc3dvcmQK
  NEXUS_REPO_URL: aHR0cDovL25leHVzOjgwODEvcmVwb3NpdG9yeS9tYXZlbi1wdWJsaWMv
  NEXUS_SNAPSHOT_REPO_URL: aHR0cDovL25leHVzOjgwODEvcmVwb3NpdG9yeS9tYXZlbi1zbmFwc2hvdHMv
  NEXUS_RELEASE_REPO_URL: aHR0cDovL25leHVzOjgwODEvcmVwb3NpdG9yeS9tYXZlbi1yZWxlYXNlcy8=
