apiVersion: v1
kind: Namespace
metadata:
  name: cicd
  annotations:
    operator.tekton.dev/prune.schedule: "0 6 * * *"
    operator.tekton.dev/prune.resources: "taskrun, pipelinerun"
    operator.tekton.dev/prune.keep: "50"
    operator.tekton.dev/prune.keep-since: null
---
apiVersion: v1
kind: Namespace
metadata:
  name: cnap-academy-cicd
---
apiVersion: v1
kind: Namespace
metadata:
  name: devsecops-dev
---
apiVersion: v1
kind: Namespace
metadata:
  name: devsecops-qa
---
apiVersion: v1
kind: Namespace
metadata:
  name: devsecops-staging
---
apiVersion: v1
kind: Namespace
metadata:
  name: devsecops-prod
---
apiVersion: v1
kind: Namespace
metadata:
  name: cnap-environment-dev
---
apiVersion: v1
kind: Namespace
metadata:
  name: cnap-environment-test
---
apiVersion: v1
kind: Namespace
metadata:
  name: cnap-environment-staging
---
apiVersion: v1
kind: Namespace
metadata:
  name: cnap-environment-prod